<p style="color: green"><%= notice %></p>

<%= render @todo %>

<div>
  <%= link_to "Edit this to-do", edit_todo_path(@todo) %> |
  <%= link_to "Back to to-dos", todos_path %>

  <%= button_to "Destroy this to-do", @todo, method: :delete %>
</div>
